.header {
    background-color: #eee;
    color: #1e1f29;
    height: 60px;
    line-height: 60px;
    font-weight: 300;
    transition: opacity 0.4s;
}
  
.title {
    font-size: 1.8rem;
    padding-left: 10px;
    float: left;
    cursor: pointer;
    color: #1e1f29;
}
  
.mode {
    font-size: 45px;
    position: absolute;
    top: 0;
    right: 60px;
    cursor: pointer;
    z-index: 1;
    line-height: 52px;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}
  
  
.burg {
    font-size: 60px;
    font-weight: 300;
    padding-right: 10px;
    line-height: 50px;
    background-color: none;
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    color: #1e1f29;
}
