@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

:root {

}

body {
    margin: 0;
    padding: 0;
}

html {
  font-family: Roboto Mono;
}

p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.7rem;
}

ul {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.7rem;
}

a, a:visited {
  font-family: Roboto Mono;
  color: #78b2aa;
}
